/* Position */

.position-initial {
    position: initial !important;
}

/* Padding */
.padding-5rem {
    padding: 5rem;
}
.padding-x-5rem {
    padding: 0 5rem;
}

/* Shadows */
.shadow {
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1) !important;
}