/* Variables */

$heading1_size: 32pt;
$heading2_size: 24pt;
$heading3_size: 18pt;
$heading4_size: 14pt;
$heading5_size: 10pt;

$super_large: 48pt;
$very_large: 50pt;

//$paragraph_size_1: pt;

/* Classes */
h1 { font-size: $heading1_size; color: black; }
h2 { font-size: $heading2_size; color: black; }
h3 { font-size: $heading3_size; color: black; }

h1.large-header { font-size: $super_large; font-weight: bold; }
h2.large-header { font-size: $very_large; font-weight: bold; }

p.large_font { font-size: $heading4_size; }